@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Handjet:wght@100..900&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Handjet:wght@100..900&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");


* {
  background-color: #161616;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

header.navbar-container {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  font-size: 20px;
}

h2.logo {
  background: linear-gradient(90deg, #5c45fd, #a89bff, #f5f5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbar-container nav ul {
  /*background-color: aliceblue;*/
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.navbar-container a {
  text-decoration: none;
  color: #969799;
}

.navbar-container a:hover {
  color: #a89bff;
  transition: all 0.5s ease-in-out;
}

span.name {
  font-family: "poppins", sans-serif;
  transition: all 4s ease;
}

span.name:hover {
  animation: fontChange 1s infinite;
  color: #5c45fd;
}

@keyframes fontChange {
  0% {
    font-family: "poppins", sans-serif;
  }
  25% {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
  }
  32% {
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: bold;
  }
  48% {
    font-family: "Matemasie", sans-serif;
    font-weight: bold;
  }
  64% {
    font-family: "Merriweather", serif;
    font-weight: bold;
  }
  80% {
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
  }
  100% {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
  }
}

main {
  margin-inline: auto;
  justify-content: space-between;
  padding: 1rem 4rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  height: 100vh;
}

.landing-page p {
  font-size: 1.5rem;
  font-weight: 300;
}

.landing-page a {
  text-decoration: none;
  color: #969799;
}

.landing-page a:hover {
  color: #a89bff;
  transition: all 0.5s ease-in-out;
}

.about-me{
  display: flex;
  justify-content: start;
  flex-direction: column;
  /* gap: 1rem; */
  font-size: 50px;
  min-height: 110vh;
  /* background-color: aliceblue; */
}

.about-me span {
  color: #969799;
  font-weight: 300;
}

.about-me span:hover {
  color: #a89bff;
  transition: all 0.2s ease-in-out;
}

.my-hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  min-height: auto;
  /* background-color: aliceblue; */
}

#my-hobbies-title {
  text-align: left;
}

#my-hobbies-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Membuat 2 kolom */
  gap: 5rem; /* Jarak antar card */
  align-items: start;
  justify-items: center;
}

.card {
  padding: 1rem;
  border: 1px solid #5c45fd;
  border-radius: 5px;
  text-align: center;
  width: 100%; /* Agar card menyesuaikan dengan grid */
  color: #fff;
  transition: background-color 0.1s ease-in-out;
}

.card:hover{
  background-color: #5c45fd;
  color: #f5f5f5;
  transition: background-color 0.3s ease-in-out;
}

.card h3 {
  margin: 0;
  font-size: 25px;
  padding: 1rem;
}

.card p {
  display: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.card:hover h3{
  background-color: #5c45fd;
  transition: background-color 0.3s ease-in-out;
}

.card:active h3{
  background-color: #f5f5f5;
  color:#5c45fd;
  transition: background-color 0.1s ease-in-out;
}

.my-skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  min-height: 130vh;
}

.my-skills ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 0 5rem;
}

.my-skills ul li {
  display: flex;
  list-style: none;
  font-weight: 500;
  align-items: center;
}

.my-skills ul li p{
  padding: 0.5rem;
  font-size: 35px;
  font-weight: bold;
  display: none;
}

.my-skills ul li:hover p{
  display: inline;
  padding: 0.5rem;
  border-radius: 2px;
}

.my-skills ul li img{
  width: 150px;
  height: 150px;
}

.my-skills ul li span {
  color: #969799;
  font-weight: 300;
}

@media (max-width: 768px) {
    .my-hobbies-card {
      grid-template-columns: 1fr;
    }
  }